@charset "UTF-8";
#mate_card_list img{
	/* width: 258px; */
	height: 200px;
	cursor: pointer;
}

#mate_cards {
	/* width: 260px; */
}

#mate_cards div {
	cursor: pointer;
}

.page-item {
	cursor: pointer;
}