<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ej.fishingmate.trade.mapper.TradeImageSQLMapper">

	<insert id="insert">
		INSERT into FM_Trade_Freeboard_Image values(
		   	 FM_Trade_Freeboard_Image_seq.nextval,
		     #{trade_freeboard_no},
		    #{image_location},
		    #{image_original_filename}
		)
	</insert>
	
	<select id="selectByFreeboardNo" resultType="com.ej.fishingmate.vo.TradeImageVO">
		SELECT * FROM FM_Trade_Freeboard_Image
		WHERE trade_freeboard_no=#{trade_freeboard_no}
	</select>
	





</mapper>